body { 
    background-color: #f8f9fa;
 }
 .nav-item{
    margin: 10px;
 }
 .nav-item:hover{
    background-color: black;
    color: black;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 30px white;
    font-weight: bold;
    transition: 0.7s;
}
.hero { 
    background: linear-gradient(rgb(4,0,0,0.5),rgba(23, 18, 18, 0.5)),url("7df68c28-e3ed-491a-9b12-4926b1a15718.jpeg"); 
    padding:80px 0; 
    color: aliceblue;
    height: 60vh;
}
.category-card { transition:0.3s; }
.category-card:hover { transform: translateY(-5px); }
.btn-custom { background-color:black; color:white; }
.btn-custom:hover { background-color: rgb(9, 9, 78); color: aliceblue;}
.navbar{
    background-color: darkblue;
}
.li{
    padding: 14px;
    border-radius: 10px;
    background-color: black;
}
footer{
    background-color: darkblue;
}
.card a{
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
}
.container img{
    border-radius:10px;
}
.card:hover{
    color: #f8f9fa;
    background-color: black;
    box-shadow: 5px 5px 5px 30px black;
    transform: scale(1.1);
    transition: 0.7s;
    cursor: pointer;
}




